.DS_Store
.vscode

*.a
*.o
*.log
*.pdf

# Executables
megaphone
phonebook
brainz
moar-brainz
hi-this-is-brain
sed-is-for-losers
harl
my-first
towards
violence
claptrap
fragtrap
cpp_module_04/ex00/ex00
cpp_module_04/ex01/ex01
cpp_module_04/ex02/ex02

# ex04 local test files
cpp_module_01/ex04/test*
