.DS_Store
.vscode

*.a
*.o
*.log
*.pdf

# Executables
megaphone
phonebook
brainz
moar-brainz
hi-this-is-brain
sed-is-for-losers
harl
my-first
towards
violence

# ex04 local test files
cpp_module_01/ex04/test*
