# ── OS / IDE ──────────────────────────────────────────────
.DS_Store
.vscode

# ── Build artifacts ───────────────────────────────────────
*.o
*.a
*.log

# ── Subjects (local only) ─────────────────────────────────
*.pdf

# ── Executables ───────────────────────────────────────────
# ex00
**/ex00/megaphone

# ex01
**/ex01/phonebook
