# ── OS / IDE ──────────────────────────────────────────────
.DS_Store
.vscode

# ── Build artifacts ───────────────────────────────────────
*.o
*.a
*.log

# ── Subjects (local only) ─────────────────────────────────
*.pdf

# ── Executables ───────────────────────────────────────────
# ex00
**/ex00/claptrap

# ex01
**/ex01/scavtrap

# ex02
**/ex02/fragtrap
